/*
This is a normal CSS file. I'm nothing special, so I just get copied into the
output directory
*/

main {
    max-width: 32em;

    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
}

pre:has(code) {
    padding: 1em;
    background-color: #fafafa;
}

pre,
img {
    max-width: 100%;
}

pre {
    overflow-x: scroll;
}
